@model IEnumerable<pis.Models.Animal>

<h2>Реестр животных</h2>
<p><a asp-action="AddEntry">Добавить животное</a></p>
<table class="table">
    <tr><th>Регистрационный номер</th><th>Населённый пункт</th><th>Категория животного</th><th>Пол животного</th><th>Год рождения</th><th>Номер электронного чипа</th><th>Кличка животного</th><th>Фотографии</th><th>Особые приметы</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RegistrationNumber</td>
            <td>@item.Locality</td>
            <td>@item.AnimalCategory</td>
            <td>@item.Gender</td>
            <td>@item.YearOfBirth</td>
            <td>@item.ElectronicChipNumber</td>
            <td>@item.AnimalName</td>
            <td>@item.Photos</td>
            <td>@item.SpecialSigns</td>
            <td>
                <a asp-action="ChangeEntry" asp-controller="Animal" asp-route-id="@item.RegistrationNumber">Изменить</a>
            </td>
            <td>
                <form asp-controller="Animal" asp-action="DeleteEntry" method="post" asp-route-id="@item.RegistrationNumber">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>