@model List<Animal>

<div class="d-flex flex-row justify-content-between">
    <h1>Реестр животных</h1>
    <p>
        <a asp-action="AddEntry">Добавить животное</a>
    </p>
</div>

<!-- Форма фильтрации -->
@* <form method="get" action="@Url.Action("OpensRegister")"> *@
@*     <input type="text" name="filterName" value="@ViewBag.FilterName" placeholder="Фильтрация по имени"> *@
@*     <input type="submit" value="Фильтрация"> *@
@* </form> *@

<form method="get" action="@Url.Action("OpensRegister")">
    <select name="filterField">
        <option value="AnimalCategory" selected="@(ViewBag.FilterField == "AnimalCategory")">Категория животного</option>
        <option value="ElectronicChipNumber" selected="@(ViewBag.FilterField == "ElectronicChipNumber")">Номер чипа</option>
        <option value="AnimalName" selected="@(ViewBag.FilterField == "AnimalName")">Кличка</option>
    </select>
    <input type="text" name="filterValue" value="@ViewBag.FilterValue" placeholder="Значение фильтра">
    <input type="submit" value="Фильтрация">
</form>

<!-- Таблица с животными -->
<table class="table">
    <tr>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "RegistrationNumber", isAscending = !ViewBag.IsAscending })">Регистрационный номер</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "Locality", isAscending = !ViewBag.IsAscending })">Населённый пункт</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "AnimalCategory", isAscending = ViewBag.SortBy == "AnimalCategory" && !ViewBag.IsAscending })">Категория животного</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "Gender", isAscending = ViewBag.SortBy == "Gender" && !ViewBag.IsAscending })">Пол животного</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "YearOfBirth", isAscending = ViewBag.SortBy == "YearOfBirth" && !ViewBag.IsAscending })">Год рождения</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "ElectronicChipNumber", isAscending = ViewBag.SortBy == "ElectronicChipNumber" && !ViewBag.IsAscending })">Номер электронного чипа</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "AnimalName", isAscending = ViewBag.SortBy == "AnimalName" && !ViewBag.IsAscending })">Кличка животного</a>
        </th>
        <th>Фотографии</th>
        <th>Особые приметы</th>
    </tr>
    @foreach (var animal in Model)
    {
        <tr>
            <td>@animal.RegistrationNumber</td>
            <td>@animal.Locality</td>
            <td>@animal.AnimalCategory</td>
            <td>@animal.Gender</td>
            <td>@animal.YearOfBirth</td>
            <td>@animal.ElectronicChipNumber</td>
            <td>@animal.AnimalName</td>
            <td>@animal.Photos</td>
            <td>@animal.SpecialSigns</td>
            <td>
                <a asp-action="ChangeEntry" asp-controller="Animal" asp-route-id="@animal.RegistrationNumber">Изменить</a>
            </td>
            <td>
                <form asp-controller="Animal" asp-action="DeleteEntry" method="post" asp-route-id="@animal.RegistrationNumber">
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    }
</table>

<!-- Пагинация -->
@if (ViewBag.TotalPages > 1)
{
    <div>
        @if (ViewBag.PageNumber > 1)
        {
            <a href="@Url.Action("OpensRegister", new { filterField = ViewBag.FilterField, filterValue = ViewBag.FilterValue, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize })">Назад</a>
            @* <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize })">Назад</a> *@
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.PageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <a href="@Url.Action("OpensRegister", new { filterField = ViewBag.FilterField, filterValue = ViewBag.FilterValue, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
                @* <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = i, pageSize = ViewBag.PageSize })">@i</a> *@
            }
        }

        @if (ViewBag.PageNumber < ViewBag.TotalPages)
        {
            <a href="@Url.Action("OpensRegister", new { filterField = ViewBag.FilterField, filterValue = ViewBag.FilterValue, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize })">Далее</a>
            @* <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize })">Далее</a> *@
        }
    </div>
}

@* @model IEnumerable<pis.Models.Animal> *@
@* *@
@* <h2>Реестр животных</h2> *@
@* <p><a asp-action="AddEntry">Добавить животное</a></p> *@
@* <table class="table"> *@
@*     <tr><th>Регистрационный номер</th><th>Населённый пункт</th><th>Категория животного</th><th>Пол животного</th><th>Год рождения</th><th>Номер электронного чипа</th><th>Кличка животного</th><th>Фотографии</th><th>Особые приметы</th></tr> *@
@*     @foreach (var item in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@item.RegistrationNumber</td> *@
@*             <td>@item.Locality</td> *@
@*             <td>@item.AnimalCategory</td> *@
@*             <td>@item.Gender</td> *@
@*             <td>@item.YearOfBirth</td> *@
@*             <td>@item.ElectronicChipNumber</td> *@
@*             <td>@item.AnimalName</td> *@
@*             <td>@item.Photos</td> *@
@*             <td>@item.SpecialSigns</td> *@
@*             <td> *@
@*                 <a asp-action="ChangeEntry" asp-controller="Animal" asp-route-id="@item.RegistrationNumber">Изменить</a> *@
@*             </td> *@
@*             <td> *@
@*                 <form asp-controller="Animal" asp-action="DeleteEntry" method="post" asp-route-id="@item.RegistrationNumber"> *@
@*                     <input type="submit" value="Удалить" /> *@
@*                 </form> *@
@*             </td> *@
@*         </tr> *@
@*     } *@
@* </table> *@