@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Animal>

<link rel="stylesheet" href="~/css/Buttons.css"/>


<div align="center">
    <h2>Реестр животных</h2>
</div>
<p>
    <a asp-action="AddEntry" class="button-link">Добавить животное</a>
</p>


<form method="get" action="@Url.Action("OpensRegister")">
    <select name="filterField">
        <option value="AnimalCategory" selected="@(ViewBag.FilterField == "AnimalCategory")">Категория животного</option>
        <option value="ElectronicChipNumber" selected="@(ViewBag.FilterField == "ElectronicChipNumber")">Номер чипа</option>
        <option value="AnimalName" selected="@(ViewBag.FilterField == "AnimalName")">Кличка</option>
    </select>
    <input type="text" name="filterValue" value="@ViewBag.FilterValue" placeholder="Значение фильтра">
    <input type="submit" value="Фильтрация">
</form>

<!-- Таблица с животными -->
<table class="table table-striped table-hover">
    <tr>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "RegistrationNumber", isAscending = !ViewBag.IsAscending })">Регистрационный номер</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "Locality", isAscending = !ViewBag.IsAscending })">Населённый пункт</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "AnimalCategory", isAscending = ViewBag.SortBy == "AnimalCategory" && !ViewBag.IsAscending })">Категория животного</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "Gender", isAscending = ViewBag.SortBy == "Gender" && !ViewBag.IsAscending })">Пол животного</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "YearOfBirth", isAscending = ViewBag.SortBy == "YearOfBirth" && !ViewBag.IsAscending })">Год рождения</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "ElectronicChipNumber", isAscending = ViewBag.SortBy == "ElectronicChipNumber" && !ViewBag.IsAscending })">Номер электронного чипа</a>
        </th>
        <th>
            <a href="@Url.Action("OpensRegister", new { filterName = ViewBag.FilterName, sortBy = "AnimalName", isAscending = ViewBag.SortBy == "AnimalName" && !ViewBag.IsAscending })">Кличка животного</a>
        </th>
        <th>Фотографии</th>
        <th>Особые приметы</th>
        <th>Изменение</th>
        <th>Удаление</th>
    </tr>
    @foreach (var animal in Model)
    {
        <tr>
            <td>@animal.RegistrationNumber</td>
            <td>@animal.Locality</td>
            <td>@animal.AnimalCategory</td>
            <td>@animal.Gender</td>
            <td>@animal.YearOfBirth</td>
            <td>@animal.ElectronicChipNumber</td>
            <td>@animal.AnimalName</td>                
            <td>
                @*<img src="@Url.Content("/images/" + animal)" alt="Фото животного" width="100" height="100" />*@
            </td>
            <td>@animal.SpecialSigns</td>
            <td>
                <a asp-action="ChangeEntry" asp-controller="Animal" asp-route-id="@animal.RegistrationNumber" class="change-button">Изменить</a>
            </td>
            <td>
                <div class="delete-button">
                    <form asp-controller="Animal" asp-action="DeleteEntry" method="post" asp-route-id="@animal.RegistrationNumber">
                        <input type="submit" value="Удалить"/>
                    </form>
                </div>

            </td>
        </tr>
    }
</table>

<!-- Пагинация -->
@if (ViewBag.TotalPages > 1)
{
    <div>
        @if (ViewBag.PageNumber > 1)
        {
            <a href="@Url.Action("OpensRegister", new { filterField = ViewBag.FilterField, filterValue = ViewBag.FilterValue, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize })">Назад</a>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.PageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <a href="@Url.Action("OpensRegister", new { filterField = ViewBag.FilterField, filterValue = ViewBag.FilterValue, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
            }
        }

        @if (ViewBag.PageNumber < ViewBag.TotalPages)
        {
            <a href="@Url.Action("OpensRegister", new { filterField = ViewBag.FilterField, filterValue = ViewBag.FilterValue, sortBy = ViewBag.SortBy, isAscending = ViewBag.IsAscending, pageNumber = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize })">Далее</a>
        }
    </div>
}