@model IEnumerable<pis.Models.Organisation>

<h2>Реестр организаций</h2>
@*<p><a asp-action="Create">Добавить животное</a></p>*@
<table class="table">
    <tr><th>Наименование</th><th>ИНН</th><th>КПП</th><th>Адрес регистрации</th><th>Тип организации</th><th>Форма организации</th><th>Населённый пункт</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrgName</td>
            <td>@item.INN</td>
            <td>@item.KPP</td>
            <td>@item.AdressReg</td>
            <td>@item.TypeOrg</td>
            <td>@item.OrgAttribute</td>
            <td>@item.Locality</td>
            @*<td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.RegistrationNumber">Изменить</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.RegistrationNumber">
                    <input type="submit" value="Удалить" />
                </form>
            </td>*@
        </tr>
    }
</table>