@model IEnumerable<pis.Models.Organisation>

<h2>Реестр организаций</h2>
<p><a asp-action="AddEntry">Добавить организацию</a></p>
<table class="table">
    <tr><th>Код организации</th><th>Наименование</th><th>ИНН</th><th>КПП</th><th>Адрес регистрации</th><th>Тип организации</th><th>Форма организации</th><th>Населённый пункт</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrgId</td>
            <td>@item.OrgName</td>
            <td>@item.INN</td>
            <td>@item.KPP</td>
            <td>@item.AdressReg</td>
            <td>@item.TypeOrg</td>
            <td>@item.OrgAttribute</td>
            <td>@item.Locality</td>
            <td>
                <a asp-action="ChangeEntry" asp-controller="Organisation" asp-route-id="@item.OrgId">Изменить</a>
            </td>
            <td>
                <form asp-controller="Organisation" asp-action="DeleteEntry" method="post" asp-route-id="@item.OrgId">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>